body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background: url(../assets/fondo.webp), #000000;
  background: url(../assets/fondo.webp),
    -webkit-gradient(linear, right top, left top, from(#012D78), to(#CD3232));
  background: url(../assets/fondo.webp), linear-gradient(to left, #012D78, #CD3232);
  font-family: sans-serif;
}
.mainHead{
  text-align: center;
  margin: 0 15px;
  color: #fff;
}
/*HASH*/
.containerHash {
  backdrop-filter: blur(0.2px);
  background-color: rgba(255, 255, 255, 0.514); 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 390px;
  min-height: 200px;
  gap: 10px;
  margin: 10px;
}
.containerHash h2{
  margin: 5px 0;
  text-align: center;
}
#inputText,
#generateHashButton {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  max-width: 270px;
  border: none;
}
#generateHashButton {
  background-color: #012D78;
  color: #ffffff;
  font-weight: bold;
  border-radius: 20px;
  height: 40px;
  max-width: 200px;
}
#inputText{
  border-radius: 10px;
  max-width: 230px;
  padding-left: 30px;
}
.output {
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 4px;
  word-break: break-all;
  display: none;
}
.error {
  color: red;
  font-size: 14px;
  display: none;
}
/*TABS*/
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.tabs button {
  padding: 10px 20px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 4px;
}
.tabs button.active {
  background-color: #012D78;
  color: white;
  font-weight: bold;
}
.tab-content {
  display: none;
  padding: 20px;
  margin: 10px;
  backdrop-filter: blur(0.2px);
  background-color: rgba(255, 255, 255, 0.514); 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  text-align: center;
}
.tab-content.active {
  display: block;
}

@media screen and (max-width: 720px) {
  .containerHash{
    max-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .containerHash{
    max-width: 250px;
  }
}